@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap');

.typeR{
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400px;
}

.typeR.medium{
	font-weight: 500px;
}

.typeR.bold {
	font-weight: 700px;
}

.bgColorGrey{
	background-color: #6c757d;
}
.colorGrey{
	color: #adb5bd;
}

.bgColorBlue{
	background-color: #003566;
 
}
.colorBlue{
	color: #003566;
}

.colorBlack{
	color: #000814;
}

.containerContext {
	height:330px;
	display:flex;
	flex-direction: column;
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 400px; 
			.textFormat2 {
			margin: 200px;
			margin-bottom: 85px;
			text-align: center;
		p{
			margin-top: 2px;

		}
}	

}

#textFormat{
	margin:auto ;
	text-align:center;
	font-size: 27vh;
	margin-top: 10px;
	color: #2a9d8f;
}

#formatImage{
	background-image: url("../media/estudioconser _ foto luciana demichelis-0209.jpg");
	height: 90vh;
	background-size: cover; 	
	background-repeat:no-repeat;
	background-position:center center;
}

#header {
	height: 95px;

		.bgGradientColor{
		height:100%; 
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		background-color: black;
		width: 100%;
		margin-bottom: 0px;
		.logo {
		margin-left: 20px;
		margin-top: 23px;
}
}
}
 
#header ul {
	list-style-type: none;}
#header li {
	display: inline-block;
	padding: 0 15px;
	margin-top: 25px;
}

#header li a{
	color: white;
	font-size: 13px;
	text-decoration: none;
}
#header li:hover{
	cursor: pointer;
	transform: translateY(-2px);
	transition: all
}

#header .link a{
	display: inline-block;
	text-decoration: none;
	font-size: 17px;
	padding: 0.25em 0.5em;
	margin-top: 20px;
	margin-right: 20px;
	overflow: hidden;
}


#header .logo{
	margin-left: 20px;
}

.cuerpo {

	background-image: url("../media/caleb-george-aiwTKtIp39c-unsplash.jpg");
	background-repeat:no-repeat;
	height: 900px;
	background-size: 100%; 	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.columna{
		height: 200px;
		margin-top: 40px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	.image img{
		width: 100%;
	}
}
}

.cuerpo {

	.columna2{
		justify-self: center;
		margin-top: 40px;
		height: 800px;

 	.image img{
 		max-width: 250px;
 	}


	}
}
.cuerpo2 {

	background-image: url("../media/jael-vallee-uq7Ld3rNd1Y-unsplash.jpg");
	background-repeat:no-repeat;
	height: 900px;
	background-size: 100%; 	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}



#footer {
	display: flex;
	flex-direction: row;
	background-color: black;
	justify-content: space-around;
	min-height: 82px;	
}

#footer	.logos-row {		
		display: flex;
		flex-direction: row;

	img{
		max-width: 30px;
		max-height: 30px;

	}	
}

#footer .logos-row .row{
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 25px;
}
#footer	.logoFooter img{
			max-width: 60px;
			margin-top: 20px;
			margin-right: 85%;

	
}		

#footer .row p{
	color: white;
	font-size: 15px;
	margin-top: 29px;

}

.image img {
	max-width: 150px;
}

@media only screen and (max-width:700px) 
{
	#header {
		height: 250px;

	
	#header .bgGradientColor {
		display:wrap;



}
}
}
@media only screen and (max-width: 320px)
{
	.conteinerContext .textFormat2 p{
		text-align:left;
}
}